{% extends 'base.html' %}
{% block insideBody %}
        <div class="descriptionSection">
            <p class="ourName">Oni Bus</p>
            <p class="description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد .</p>
        </div>
        <div class="searchSection">
            <form action="#" method="post">
                {% csrf_token %}
                {{ searchForm }}

                <button type="submit" class="formBTN" id="searchFormSubmit">پیدا کن</button>
            </form>
        </div>
        <div class="usualQuestions">
            <div class="leftQuestion">
                <div class="imageQuestionHolder">
                    <img src="" alt="">
                </div>
            </div>
            <div class="rightQuestion">
                <div class="questionHolder">
                    <div class="questionSection">
                        <div class="question">
                            test qqq :D
                        </div>
                        <div class="answear">
                            <p>testtttttttttttttttttttt</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock insideBody %}