{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}

{% block insideHead %}
    <link rel="stylesheet" href="{% static "oniBusApp/index.css" %}">
    <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock insideHead %}
    
{% block insideBody %}
        <div class="descriptionSection">
            <p class="ourName">Oni Bus</p>
            <p class="description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد .</p>
        </div>
        <div class="searchSection">
            <form class="searchForm" action="{% url "searchPage" %}" method="post">
                {% csrf_token %}
                {{ searchForm }}

                <button type="submit" class="formBTN" id="searchFormSubmit">پیدا کن</button>
            </form>
        </div>
        <div class="usualQuestions">
            <div class="leftQuestion">
                <div class="imageQuestionHolder">
                    <img src="" alt="">
                </div>
            </div>
            <div class="rightQuestion">
                <div class="questionHolder">
                    <div class="questionP">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</div>
                    <div class="questionSection">
                        <div class="question">
                            <p>کتابهای زیادی در شصت و سه درصد گذشته</p>
                        </div>
                        <div class="answear">
                            <p>سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم است</p>
                        </div>
                        <div class="question">
                            <p>کتابهای زیادی در شصت و سه درصد گذشته</p>
                        </div>
                        <div class="answear">
                            <p>سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم است</p>
                        </div>
                        <div class="question">
                            <p>کتابهای زیادی در شصت و سه درصد گذشته</p>
                        </div>
                        <div class="answear">
                            <p>سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم است</p>
                        </div>
                        <div class="question">
                            <p>کتابهای زیادی در شصت و سه درصد گذشته</p>
                        </div>
                        <div class="answear">
                            <p>سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم است</p>
                        </div>
                        <div class="question">
                            <p>کتابهای زیادی در شصت و سه درصد گذشته</p>
                        </div>
                        <div class="answear">
                            <p>سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم اسو مجله در ستون و سطرآنچنان که لازم است</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock insideBody %}

{% block outsideBody %}
    <script src="{% static "/oniBusApp/index.js" %}"></script>
{% endblock outsideBody %}