{% extends "base.html" %}
{% load static %}

{% block insideHead %}
    <link rel="stylesheet" href="{% static "oniBusApp/searchPage.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0" />

{% endblock %}

{% block insideBody %}
<div class="originDestinationSection">
    <p class="origin originFinalDestinationP">مبدا : {{ origin }}</p>
    <i class="material-symbols-rounded">arrow_back</i>
    <p class="finalDestination originFinalDestinationP">مقصد : {{ destination }}</p>
</div>

<div class="ticketHolderPHolder">
    <p class="ticketHolderP">بلیط های  پیدا شده برای شما :</p>
</div>

<div class="ticketHolder">
   {% for ticket in data %}
    <div class="ticket {{ ticket.isActive }}" id="{{ticket.ticketId}}">
        <div class="busOrCompanyImgHolder">
            <img class="busOrCompanyImage" src="{{ ticket.busOrCompanyImg }}" alt="">
        </div>
        <div class="ticketInfo">
            <p class="ticketInfoP busTypeP"> نوع اتوبوس :<p class="engP"> {{ ticket.busType }}</p></p>
            <div class="originDestination">
                <p class="ticketInfoP originP"> مبدا : <p class="engP">{{ ticket.origin }}</p></p>
                <p class="ticketInfoP destinationP"> مقصد :<p class="engP"> {{ ticket.destination }}</p></p>
            </div>
            <p class="ticketInfoP departureP"> ساعت حرکت : <p class="engP">{{ ticket.departure }}</p> </p>
            <p class="ticketInfoP priceP"> قیمت :<p class="engP"> {{ ticket.price }} </p> </p>

            <p class="id ticketInfoP">ticketID:{{ ticket.ticketId }}</p>
        </div>
        <a href="{% url 'specificSearchPage' ticket.ticketId  %}" class="ticketInfoP ticketBTN" value="{{ ticket.ticketId }}">همین الان بخر</a>
    </div>
   {% endfor %}

</div>
{% endblock %}

{% block outsideBody %}
    <script src="{% static "oniBusApp/searchPage.js" %}"></script>
{% endblock %}