<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>oni bus</title>
</head>
<body>
    <div class="wholeMenu">
        <div class="userInfo">
            <img class="profileImage" src="" alt="userProfileImage">
            <p class="profileName"></p>
        </div>
        <div class="menuBTNs">
            <a href="#" id="contactus">تماس با ما</a>
            <a href="#" id="usualQuestions">سوالات متداول</a>
            <a href="#" id="contracts">قرارداد ها</a>
        </div>
        <div class="logo">
            <img src="" alt="oniBusLogo">
        </div>
    </div>
    <div class="wholeBody">
        <div class="searchSection">
            
        </div>
    </div>
</body>
</html>