*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  top: 0;
  outline: none;
  text-decoration: none;
  border: none;
}
:root{
    --bodyColor : #B2BEB5;
    --mainYellowColor:#FDFD96;
    --secondaryYellowColor:#FDFD96;
    --mainGrayColor:#828E84;
    --secondaryGrayColor:#B2BEB5;
}
body{
  background-color: var(--bodyColor);
  
}
@font-face {
  font-family: fontBold;
  src: url(font/Estedad-Bold.ttf);
}

/*menu section*/
.wholeMenu{
  font-family: fontBold;
  width: 100vw;
  height: 5vw;
  background-color: var(--mainYellowColor);
  border-radius: 0px 0px 20px 20px;
  display: flex;
  flex-direction:row ;
  overflow: hidden;
  padding: 0.3vw 1vw;
  justify-content: space-between;

}
.userInfo{
  width: 18%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1vw;
  justify-content: space-between;
}
.profileImage{
  background-color: #fff;
  width: 4vw;
  height: 4vw;
  border-radius: 100%;
}
.profileName{
  width: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menuBTNs{
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuBTN{
  background-color: #fff;
  border: 1px solid blue;

}
/*usual question section*/
.question {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active,
.question:hover {
  background-color: #ccc;
}
.answear {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.question:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
